* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: burlywood;
}

aside {
    padding: 2rem;
    color: black;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    width: 200px;
    height: 200px;
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: brown;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
    width: 100%;
}

.boton-menu.active {
    background-color: antiquewhite;
    color: black;
    width: 100%;
    border-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-carrito {
    margin-top: 2rem;
}

menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.texto-footer {
    color: gray;
    font-size: .85rem;
}

.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles {
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

main {
    background-color: white;
    margin: 1rem;
    border-radius: 1rem;
    padding: 2rem;
    margin-left: 0;
}

.titulo-principal {
    color: black;
    margin-bottom: 2rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-detalles {
    background-color: #D2B48C;
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.producto-titulo {
    font-size: 1rem;
}

.producto-agregar {
    border: 0;
    background-color: beige;
    padding: .5rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid black;
}

.producto-agregar:hover {
    background-color: white;
    color: black;
}

.imagen-carrito {
    width: 4rem;
    border-radius: 1rem;
}


/* Carrito */

.carrito-vacio,
.carrito-lleno {
    color: black;
    font-weight: bold;
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    color: black;
    padding: 0.5rem;
    padding-right: 1.5rem;
    cursor: pointer;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: 0.5rem;
}

.carrito-producto-eliminar {
    background-color: grey;
    border: 0;
    padding: 1rem;
    border-radius: 1rem;
    color: antiquewhite;
    text-transform: uppercase;
    cursor: pointer;
}

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}



.carrito-acciones-eliminar {
    background-color: grey;
    border: 0;
    padding: 1rem;
    border-radius: 1rem;
    color: antiquewhite;
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-comprar {
    background-color: brown;
    border: 0;
    padding: 1rem;
    border-radius: 1rem;
    color: antiquewhite;
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-vaciar {
    background-color: brown;
    border: 0;
    padding: 1rem;
    border-radius: 1rem;
    color: antiquewhite;
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-total {
    display: flex;
    background-color: brown;
    padding: 1rem;
    border-radius: 1rem;
    color: antiquewhite;
    text-transform: uppercase;
}

.carrito-acciones-derecha {
    display: flex;
}

.disabled {
    display: none;
}

.numerito {
    background-color: white;
    color: brown;
    padding: 0 .25rem;
    border-radius:

}

.header-mobile {
    display: none;
}

.close-menu {
    display: none;
}

/** Media queries **/

@media screen and (max-width: 600px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    aside {
        position: fixed;
        z-index: 9;
        background-color: burlywood;
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }

    .aside-visible {

        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }


    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }

    .header-mobile {
        display: flex;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile.logo {
        width: 100px;
        height: 100px;
    }

    .open-menu {
        background-color: transparent;
        color: #964B00;
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        background-color: transparent;
        color: #964B00;
        border: 0;
        font-size: 2rem;
        cursor: pointer;
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: block;
    }
}


